$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$custom-blue-palette: (
    50 : #e1e1eb,
    100 : #b5b3cd,
    200 : #8481ab,
    300 : #524f89,
    400 : #2d2970,
    500 : #080357,
    600 : #07034f,
    700 : #060246,
    800 : #04023c,
    900 : #02012c,
    A100 : #6565ff,
    A200 : #3232ff,
    A400 : #0000fe,
    A700 : #0000e5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-light-blue-palette: (
    50 : #f3f8f9,
    100 : #e2edf0,
    200 : #cfe1e6,
    300 : #bcd4db,
    400 : #adcbd4,
    500 : #9fc2cc,
    600 : #97bcc7,
    700 : #8db4c0,
    800 : #83acb9,
    900 : #729fad,
    A100 : #ffffff,
    A200 : #f8fdff,
    A400 : #c5f1ff,
    A700 : #aceaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-yellow-red-pallete: (
    50 : #fff7e8,
    100 : #ffebc6,
    200 : #ffdea1,
    300 : #ffd07b,
    400 : #ffc65e,
    500 : #ffbc42,
    600 : #ffb63c,
    700 : #ffad33,
    800 : #ffa52b,
    900 : #ff971d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7ce,
    A700 : #ffdab4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


